.link {
  display: block;
  width: fit-content;
  padding: 10px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  background-color: #94167f;
  font-size: 1.25rem;
}

.link:hover {
  background-color: #b21a98;
}

@media (max-width: 1024px) {
  .link {
    margin: 0 auto;
  }
}